.table-index {
    tr {
        th {
            &:nth-child(1) {
                width: 12%;
            }

            &:nth-child(2) {
                width: 22%;
            }


            &:nth-child(3) {
                width: 22%;

            }

            &:nth-child(4) {
                width: 22%;

            }
        }
    }
}