.menu {
    background: white;
    position: relative;

    &-logo {

        @media (min-width:760px) {
            padding: 21px 0px 43px 25px;
        }

        @media (max-width:760px) {
            padding: 21px;
        }
    }

    &-btn {
        position: absolute;
        top: -100%;
        left: -100%;

        &:checked {
            &~.menu-icon {
                .navicon {
                    background: transparent;

                    &:before {
                        top: 0;
                        transform: rotate(-45deg);
                    }

                    &:after {
                        top: 0;
                        transform: rotate(45deg);
                    }
                }
            }

            &~.menu-list {
                display: block !important;
            }
        }
    }

    &-icon {
        height: 37px;
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;
        display: none;

        @media (max-width:760px) {
            display: block;
        }

        .navicon {
            background: #343434;
            display: block;
            height: 3px;
            width: 30px;
            position: relative;
            z-index: 10;
            border-radius: 10px;

            &:before {
                top: -10px;
            }

            &:after {
                top: 10px;
            }
        }

        .navicon:before,
        .navicon:after {
            background: #343434;
            display: block;
            width: 100%;
            height: 3px;
            content: "";
            border-radius: 10px;
            position: absolute;
            transition: all 0.2s ease-out;
        }
    }

    &-list {
        @media (max-width:760px) {
            display: none;
        }

        &-item {
            cursor: pointer;
            padding: 14px 0px 15px 25px;
            color: #7D7D7D;

            @media (min-width: 760px) and (max-width:980px) {
                justify-content: center;
            }

            &>div:first-child {
                width: 41px;
            }

            &.active {
                color: #343434;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 4px;
                    background: #6666CC;
                    box-shadow: 0px 2px 10px rgba(102, 102, 204, 0.67);
                }
            }


            &__text {
                @media (min-width: 760px) and (max-width:980px) {
                    display: none;
                }
            }
        }
    }
}