.modal-backdrop {
    background: transparent !important;
}

.modal {

    &-content {
        border: none;
        box-shadow: 0px 30px 38px rgba(37, 37, 37, 0.1);
    }

    &-create {

        &-table {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 15%;
        }

        &-domain {
            margin-top: 20px;

            input {
                background: #E6E6E9;
                border: none;
                color: #7D7D7D;
                font-weight: 500;
            }

            .input-group-text {
                background: #6666CC;
                color: #FFFFFF;
            }
        }

        &-info {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-column-gap: 16px;
            margin-bottom: 44px;
            margin-top: 27px;
            font-size: 12px;
            color: #7D7D7D;
        }
    }

    .btn {
        min-width: 151px;
    }
}